<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <div class="aboutHead d-flex align-items-center">
        <h3 class="about-us-heading text-center my-4 mx-auto">WELCOME!</h3>
        <a href="/admin/update" class="btn btn-primary me-4">Edit Users</a>
    </div>

    <div class="registered my-5 mx-sm-5 mx-3">
        <h2 class="ms-2 about-us-heading">Registered Users</h2>
        <div class="mt-2">
            <div class="row">
                <div class="col-2 border border-white p-3"><b>NAME</b></div>
                <div class="col-2 border border-white p-3 "><b>EMAIL</b></div>
                <div class="col-2 border border-white p-3 overflow-auto "><b>PASSWORD</b></div>
                <div class="col-2 border border-white p-3 "><b>NUMBER</b></div>
                <div class="col-2 border border-white p-3 "><b>COUNTRY</b></div>
                <div class="col-2 border border-white p-3 "><b>DATE</b></div>
            </div>
        </div>

        <% if (users) { %>
            <div class="">
                <% users.forEach(user =>{ %>
                    <div class="row">
                        <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= user.firstName %> <%= user.lastName %></div>
                        <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= user.email %></div>
                        <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= user.password1 %></div>
                        <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= user.number %></div>
                        <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= user.country %></div>
                        <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= user.date %></div>
                    </div>
                <% }) %> 
            </div>
        <% } else {%>
            <div>
                <p>NO REGISTERED USERS</p>
            </div>
        <% } %>
    </div>

    <div class="confirm-deposits my-5 mx-sm-5 mx-3">
        <h2 class="ms-2 about-us-heading">Confirmed Deposits</h2>
        <div class="">
            <div class="row">
                <div class="col-3 border border-white p-3"><b>NAME</b></div>
                <div class="col-3 border border-white p-3 overflow-auto text-nowrap"><b>TRANSACTION ID</b></div>
                <div class="col-2 border border-white p-3 "><b>AMOUNT</b></div>
                <div class="col-2 border border-white p-3 "><b>DATE</b></div>
                <div class="col-2 border border-white p-3 overflow-auto "><b>UNCONFIRM</b></div>
            </div>
        </div>

        <% if (confirmDeposits) { %>
            <div class="">
                <% confirmDeposits.forEach(confirmDeposit =>{ %>
                   <form action="/unconfirm/deposit" method="post">
                        <div class="row">
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><%=confirmDeposit.name%></div>
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><input type="text" name="transactID" readonly  class="form-control-plaintext text-light" value="<%= confirmDeposit.transactID %>"></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= confirmDeposit.amount %></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= confirmDeposit.date %></div>
                            <div class="col-2 p-3 border border-white text-nowrap text-center overflow-auto"><button class="btn btn-primary mybutton"><i class="bi bi-dash-lg"></i></button></div>
                        </div>
                   </form>
                <% }) %> 
            </div>
        <% } else {%>
            <div>
                <p>NO CONFIRMED DEPOSITS</p>
            </div>
        <% } %>

    </div>

    <div class="pending-deposits my-5 mx-sm-5 mx-3">
        <h2 class="ms-2 about-us-heading">Pending Deposits</h2>
        <div class="">
            <div class="row">
                <div class="col-3 border border-white p-3"><b>NAME</b></div>
                <div class="col-3 border border-white p-3 overflow-auto text-nowrap"><b>TRANSACTION ID</b></div>
                <div class="col-2 border border-white p-3 "><b>AMOUNT</b></div>
                <div class="col-2 border border-white p-3 "><b>DATE</b></div>
                <div class="col-2 border border-white p-3 "><b>CONFIRM</b></div>
            </div>
        </div>

        <% if (pendDeposits) { %>
            <div class="">
                <% pendDeposits.forEach(pendDeposit =>{ %>
                    <form action="/confirm/deposit" method="post">
                        <div class="row">
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><%=pendDeposit.name%></div>
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><input type="text" name="transactID" readonly  class="form-control-plaintext text-light" value="<%= pendDeposit.transactID %>"></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= pendDeposit.amount %></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= pendDeposit.date %></div>
                            <div class="col-2 p-3 border border-white text-nowrap text-center overflow-auto"><button class="btn btn-primary mybutton"><i class="bi bi-check-lg"></i></button></div>
                        </div>
                    </form>
                <% }) %> 
            </div>
        <% } else {%>
            <div>
                <p>NO CONFIRMED DEPOSITS</p>
            </div>
        <% } %>

    </div>

    <div class="pending-withdrawal my-5 mx-sm-5 mx-3">
        <h2 class="ms-2 about-us-heading">Pending Withdrawals</h2>
        <div class="">
            <div class="row">
                <div class="col-3 border border-white p-3"><b>NAME</b></div>
                <div class="col-2 border border-white p-3 overflow-auto text-nowrap"><b>ADDRESS</b></div>
                <div class="col-2 border border-white p-3 "><b>AMOUNT</b></div>
                <div class="col-3 border border-white p-3 "><b>DATE</b></div>
                <div class="col-2 border border-white p-3 "><b>CONFIRM</b></div>
            </div>
        </div>

        <% if (pendingWithdrawals) { %>
            <div class="">
                <% pendingWithdrawals.forEach(pendingWithdrawal =>{ %>
                    <form action="/confirm/withdrawal" method="post">
                        <div class="row">
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><%=pendingWithdrawal.name%></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= pendingWithdrawal.address%></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= pendingWithdrawal.amount %></div>
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><%= pendingWithdrawal.date %></div>
                            <input type="text" value="<%= pendingWithdrawal.id %>" class="d-none" name="id">
                            <div class="col-2 p-3 border border-white text-nowrap text-center overflow-auto"><button class="btn btn-primary mybutton"><i class="bi bi-check-lg"></i></button></div>                            
                        </div>
                    </form>
                <% }) %> 
            </div>
        <% }%>

    </div>

    <div class="confirm-withdrawal my-5 mx-sm-5 mx-3">
        <h2 class="ms-2 about-us-heading">Confirmed Withdrawals</h2>
        <div class="">
            <div class="row">
                <div class="col-3 border border-white p-3"><b>NAME</b></div>
                <div class="col-2 border border-white p-3 overflow-auto text-nowrap"><b>ADDRESS</b></div>
                <div class="col-2 border border-white p-3 "><b>AMOUNT</b></div>
                <div class="col-3 border border-white p-3 "><b>DATE</b></div>
                <div class="col-2 border border-white p-3 overflow-auto"><b>UNCONFIRM</b></div>
            </div>
        </div>

        <% if (confirmWithdrawals) { %>
            <div class="">
                <% confirmWithdrawals.forEach(confirmWithdrawal =>{ %>
                    <form action="/unconfirm/withdrawal" method="post">
                        <div class="row">
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><%=confirmWithdrawal.name%></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= confirmWithdrawal.address%></div>
                            <div class="col-2 p-3 border border-white text-nowrap overflow-auto"><%= confirmWithdrawal.amount %></div>
                            <div class="col-3 p-3 border border-white text-nowrap overflow-auto"><%= confirmWithdrawal.date %></div>
                            <input type="text" value="<%= confirmWithdrawal.id %>" class="d-none" name="id">
                            <div class="col-2 p-3 border border-white text-nowrap text-center overflow-auto"><button class="btn btn-primary mybutton"><i class="bi bi-dash-lg"></i></button></div>                            
                        </div>
                    </form>
                <% }) %> 
            </div>
        <% }%>

    </div>
</body>

<script>
    // let mybuttons = document.querySelectorAll('.mybutton')
    // for(let i = 0; i<mybuttons.length; i++){
    //     let button = mybuttons[i]
    //     button.addEventListener('click', (e)=>{
    //         e.preventDefault()
    //         console.log(i)
    //     })
    // }
</script>
</html>