<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/usernav') %>
    
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Markets today</span></a> by TradingView</div> -->
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "Solana",
        "proName": "BINANCE:SOLUSDT"
      },
      {
        "description": "Ripple",
        "proName": "BINANCE:XRPUSDT"
      },
      {
        "description": "Binance Coin",
        "proName": "BINANCE:BNBUSDT"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "regular",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END --> 

    <div class="container-fluid">
        <div class="row m-4 g-4">
            <div class="col-md-4">
                <div class="card text-bg-warning h-100" >
                    <div class="card-body  p-3">
                      <h4 class="card-title mb-4">CURRENT ACCOUNT</h4>
                      <h4 class="card-text mb-4">$<%= user1.balance %> </h4>
                      <a href="/deposit" class="btn btn-dark text-warning w-100 mb-3 trading1">Start Trading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-dark bg-primary h-100" >
                    <div class="card-body  p-3">
                      <h4 class="card-title mb-4">EARNED TOTAL (ROI)</h4>
                      <h4 class="card-text mb-4">$<%= user1.ROI %></h4>
                      <a href="/withdraw" class="btn btn-dark text-primary w-100 mb-3">Withdraw Funds</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card text-dark bg-danger h-100" >
                <div class="card-body p-3">
                  <h4 class="card-title mb-4">BONUS</h4>
                  <h3 class="card-text mb-2 ">$<%= user1.bonus%></h3>
                </div>
              </div>
            </div>
        </div>
        <div class="row m-4 gx-4 gy-2">
            <div class="col-md-6">
              <a href="/deposit-history" class="btn btn-info text-dark w-100 mb-3 fs-4"><b>Deposit History</b></a>
            </div>

            <div class="col-md-6">
              <a href="/withdrawal-history" class="btn btn-success text-dark w-100 mb-3 fs-4"><b>Withdrawal History</b></a>
            </div>
        </div>
    </div>

    <script>
      let balance1 = parseInt("<%= user1.balance %>")
      let balance2 = parseInt("<%= user1.ROI %>")
      let text1 = document.querySelector('.trading1')
      if (balance1 > 0 || balance2 > 0){
        text1.innerHTML = 'Deposit Funds'
        text1.setAttribute('href', '/deposit_main')
      }
    </script>

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container "  >
    <div id="tradingview_537b9"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "autosize": true,
    "symbol": "BINANCE:BTCUSDT",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "dark",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_537b9"
  }
    );

    // console.log(document.cookie)
    </script>
  </div>
  <!-- TradingView Widget END -->

</body>
</html>